SDKROOT = iphoneos
ARCHS = $(ARCHS_STANDARD_32_BIT)
ARCHS[sdk=iphoneos*] = $(ARCHS_STANDARD_32_BIT), armv6
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
TARGETED_DEVICE_FAMILY = 1,2
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_THUMB_SUPPORT = NO
IPHONEOS_DEPLOYMENT_TARGET = 3.1
HEADER_SEARCH_PATHS = "$(SRCROOT)"
ALWAYS_SEARCH_USER_PATHS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
OTHER_CFLAGS = -Wno-parentheses-equality -Wno-overloaded-virtual -Wno-unused-variable -Wno-sign-compare
